<div class="page page-dashboard" data-ng-controller="HomeCtrl">

    <div class="row ui-section">
        <div class="col-md-12">
            <h1 class="text-center"> Our Prize Sponsors </h1>
            <div class="panel panel-default">
                <div class="panel-body padding-lg-h">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="text-center">
                                <a href="https://www.chess.com/" target="_blank">
                                    <img ng-src="images/assets/chess.com.jpg" alt="" width="200px" height="80px">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="text-center">
                                <a href="https://purlinglondon.com/" target="_blank">
                                    <img ng-src="images/assets/purlinglondon.jpg" alt="" width="100px" height="100px">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="text-center">
                                <a href="https://chess24.com/" target="_blank">
                                    <img ng-src="images/assets/chess24.jpg" alt="" width="100px" height="100px">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="text-center"> List of Prize Winners </h3>
            <div class="panel panel-default">
                <div class="panel-body padding-lg-h">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="table-responsive">
                                <table class="table no-margin table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Position</th>
                                            <th>Team name</th>
                                            <th>Prize</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1st place: FCO 2016</td>
                                            <td><a ng-href="#/team/57cc7667a43bf14533b0d8cb?competition=main">Romanishin the Stone (288)</a></td>
                                            <td>12 month premium membership to Chess.com
                                                <br> Purling London Bold Chess Set</td>
                                        </tr>
                                        <tr>
                                            <td>2nd place: FCO 2016</td>
                                            <td><a ng-href="#/team/57cc7663a43bf14533b0d4e4?competition=main">The Knight’s Watch (287)</a></td>
                                            <td>12 month premium membership to Chess.com</td>
                                        </tr>
                                        <tr>
                                            <td>3rd place: FCO 2016</td>
                                            <td><a ng-href="#/team/57cc7665a43bf14533b0d786?competition=main">Team with no Name (284)</a></td>
                                            <td>6 month premium membership to Chess.com</td>
                                        </tr>
                                        <tr>
                                            <td>4th place: FCO 2016</td>
                                            <td><a ng-href="#/team/57cc7665a43bf14533b0d809?competition=main">Perpetual Zugswang (283)</a></td>
                                            <td>6 month premium membership to Chess24</td>
                                        </tr>
                                        <tr>
                                            <td>5th place: FCO 2016</td>
                                            <td><a ng-href="#/team/57cc7665a43bf14533b0d76e?competition=main">Vodka Sobolev (282)</a></td>
                                            <td>3 month premium membership to Chess24</td>
                                        </tr>
                                        <tr>
                                            <td>Highest Single Round Score: FCO 2016</td>
                                            <td><a ng-href="#/team/57cc7665a43bf14533b0d78a?competition=main">The Great Disaster (40)</a></td>
                                            <td>1 month premium membership to Chess24</td>
                                        </tr>
                                        <tr>
                                            <td>Top Chess.Com finisher</td>
                                            <td><a ng-href="#/table/main-event/CHESS.COM">The Flying Circuits (273)</a></td>
                                            <td>6 month premium membership to Chess.com</td>
                                        </tr>
                                        <tr>
                                            <td>Top USA finisher</td>
                                            <td><a ng-href="#/table/main-event/United%20States">Dizzy (277)</a></td>
                                            <td>3 month premium membership to Chess24</td>
                                        </tr>
                                        <tr>
                                            <td>Top German finisher</td>
                                            <td><a ng-href="#/table/main-event/Germany">4Kings (274)</a></td>
                                            <td>1 month premium membership to Chess24</td>
                                        </tr>
                                        <tr>
                                            <td>Best Team Name</td>
                                            <td><a ng-href="#/team/57cc7665a43bf14533b0d83f?competition=main">Legalize Caruana</a></td>
                                            <td>6 month premium membership to Chess24</td>
                                        </tr>
                                        <tr>
                                            <td>1st place: Week2Sprint</td>
                                            <td><a ng-href="#/team/57d93486254f4fdd44cdfd6c?competitions=w2s">mrkolice6 (162)</a></td>
                                            <td>12 month premium membership to Chess.com
                                                <br> Purling London Silver gilt-edged playing cards</td>
                                        </tr>
                                        <tr>
                                            <td>2nd place: Week2Sprint</td>
                                            <td><a ng-href="#/team/57d93486254f4fdd44cdfd60?competitions=w2s">mrkolice5 (161)</a></td>
                                            <td>6 month premium membership to Chess24</td>
                                        </tr>
                                        <tr>
                                            <td>3rd place: Week2Sprint</td>
                                            <td><a ng-href="#/team/57d93486254f4fdd44cdfd17?competitions=w2s">InDogeWeTrust (160)</a></td>
                                            <td>6 month premium membership to Chess.com</td>
                                        </tr>
                                        <tr>
                                            <td>4th place: Week2Sprint</td>
                                            <td><a ng-href="#/team/57d93486254f4fdd44cdfd5c?competitions=w2s">Smuts (157)</a></td>
                                            <td>3 month premium membership to Chess24</td>
                                        </tr>
                                        <tr>
                                            <td>Highest Single Round score: Week2Sprint</td>
                                            <td><a ng-href="#/team/57d93486254f4fdd44cdfd59?competitions=w2s">The Long Way Baku (34)</a></td>
                                            <td>1 month premium membership to Chess24</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="text-center">
                        <p class="lead">See your <strong>Round 11</strong>and <strong>Prediction</strong> results here ...</p>
                        <md-button ng-click="fco()" class="md-raised btn-w-md md-primary">FCO 2016</md-button>
                        <div class="divider"></div>
                        <md-button ng-click="w2s()" class="md-raised btn-w-md md-primary">Week 2 Sprint</md-button>
                    </div>
                </div>
            </div>
            <h3 class="text-center"> Big thank you from us! </h3>
            <div class="panel panel-default">
                <div class="panel-body padding-lg-h lead text-center">
                    <p>We would like to take this opportunity to thank all our participants, this years' Fantasy Chess Olympiad has been so much fun. We hope you have enjoyed it just as much as we have!</p>

                    <p>This years competition would not be anywhere near as exciting without the generous contributions from our prize sponsors who have provided some magnificent prizes!
                        <p>

                            <p>As always, we're always looking to make this bigger, better and more exciting, if you have any ideas or tips for us please don't hesitate to get in touch</p>

                            <p><strong>Complete our survey</strong>
                                <br>
                                <md-button ng-click="survey()" class="md-raised btn-w-lg md-accent">Survey</md-button>
                            </p>

                            <p>Thank you all,
                                <br>Dave and Matt</p>
                </div>
            </div>
        </div>
    </div>

</div>
